* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styles the body */
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/* styles the header */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

/* styles the h1 header */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

/* styles the a header */
header a {
    text-decoration: none;
    color: #fce138;
}

/* styles the nav header */
header nav {
    float: right;
    margin: 7px 0;
}

/* styles the nav header list*/
header nav ul li {
    display: inline;
}

/* styles the nav header list links*/
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* styles the footer*/
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

/* styles the h2 footer*/
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/* styles the footer div*/
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

/* styles the footer link*/
footer a {
    color: #024e76;
}